.createuser-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.createuser-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.input-container {
  width: 100%;
  max-width: 320px;
  margin-bottom: 10px;
}
.input-container input {
  margin-bottom: 10px;
}
.input-error {
  color: red;
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.message-createuser {
  color: red;
  margin-bottom: 10px;
}
